#catSenses {
  text-decoration: underline;
  text-indent: 50px;
}
ul {
  padding-right: 80px;
}
.listIndent {
  text-indent: 30px;
}
ol {
  list-style-type: upper-roman;
}
.center {
  text-align: center;
}
img {
  height: 250px;
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid red;
}
.characteristics {
  border: solid red;
  color: red;
  text-align: center;
}
table,
th,
td {
  border: 1px solid black;
}
